<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<!--**********************************************************************
Copyright (c) 2010 Todd Nine. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Contributors:
    ...
**********************************************************************-->

<plugin>
    <!-- STORE MANAGER -->
    <extension point="org.datanucleus.store_manager">
        <store-manager class-name="org.datanucleus.store.cassandra.CassandraStoreManager" key="cassandra" url-key="cassandra"/>
    </extension>

    <!-- QUERY LANGUAGES TODO
    <extension point="org.datanucleus.store_query_query">
        <query class-name="org.datanucleus.store.hbase.query.JDOQLQuery" datastore="hbase" name="JDOQL"/>
        <query class-name="org.datanucleus.store.hbase.query.JPQLQuery" datastore="hbase" name="JPQL"/>
    </extension> -->

    <!-- CONNECTION FACTORY -->
    <extension point="org.datanucleus.store_connectionfactory">
        <connectionfactory name="cassandra" class-name="org.datanucleus.store.cassandra.ConnectionFactoryImpl" transactional="true"
            datastore="cassandra"/>
    </extension> 
    
     <!-- CASSANDRA'S RECOMMENDED UUID  -->
    <extension point="org.datanucleus.store_valuegenerator">
    	<valuegenerator name="uuid-cassandra" class-name="org.datanucleus.store.cassandra.identity.CassandraUUIDGenerator" unique="true"/>
    </extension> 
    
    <!-- Extension point for custom serialization of values -->
    <extension point="org.datanucleus.java_type">
    
    	<!-- keep all the default properties, but override the string converter for cassandra -->
           <java-type name="java.util.Date" persistent="true" dfg="true" embedded="true" wrapper-type="org.datanucleus.sco.simple.Date"
            string-converter="org.datanucleus.store.cassandra.identity.DateConverter"
            long-converter="org.datanucleus.store.types.DateLongConverter" override="true"/>
        <java-type name="com.eaio.uuid.UUID" string-converter="org.datanucleus.store.cassandra.identity.UUIDConverter"  persistent="true" dfg="true" embedded="true"  />
    </extension>
    
    <!-- Extension for
     <extension point="org.datanucleus.store_datastoreidentity">
        <datastoreidentity name="date-cassandra" class-name="org.datanucleus.store.cassandra.identity.DateImpl" unique="true"/>
      <datastoreidentity name="uuid-cassandra" class-name="org.datanucleus.store.cassandra.identity.UuidImpl" unique="true"/>
    </extension>
    
    <extension point="org.datanucleus.identity_translator">
        <identitytranslator name="cassandratranslator" class-name="org.datanucleus.store.cassandra.identity.CassandraIdentityTranslator"/>
    </extension> -->

</plugin>
